.dashboard{
    display: flex;
    min-height: 100vh;

}

.dashboard-content {
    flex:1;
    padding:40px;

}
.dashboard-content h1 {
  margin-bottom: 5px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.card {
  border: 1px solid #222;
  padding: 25px;
  background: #111;
}

.card p {
  font-size: 20px;
  margin-top: 10px;
}

.active {
  color: #0f0;
}
@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .sidebar nav a {
    margin: 0;
    font-size: 12px;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}
