*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe UI',sans-serif;
}
body {
    background-color: #000;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

button{
    background: #fff;
    color: #000;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
}

button:hover{
    background: #ccc;
}